<!-- <footer class="footer bg-info py-3 mt-auto"> -->
    <!-- <div class="container-fluid">
        <span>&copy;YelpCamp</span>
    </div> -->
    <style>
        .footer {
            position: -webkit-sticky;
            left: 0px;
            bottom: 0px;
            height: 50px;
            width: 100%;
    
        }
    </style>
</footer>