<% layout('layouts/boilerplate') %>
<div class="alert alert-danger d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
        <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
    <h4 class="alert-heading">ERROR!</h4>
    <p><%= err.message %>.</p>
    <hr>
    <!-- <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p> -->
    </div>
</div>
